<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>IMs Auth</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        html {
            background: url(https://s.yimg.com/pw/images/sohp_2014/trees_blur.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        body {
            padding-top: 80px;
            background-color: transparent;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center">

        <h1 style="color:white "><span class="fa fa-lock" style="color:white "></span> IMs Auth</h1>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        <a href="/auth/fitbit" class="btn btn-default"><span class="fa fa-paw"></span> Fitbit</a>

    </div>

</div>
</body>
</html>
